# MONGODB_URI=postgresql://neondb_owner:npg_5FsznYKW7cDq@ep-cool-lake-a1gqcrve-pooler.ap-southeast-1.aws.neon.tech/neondb_uptimiseit?sslmode=require&channel_binding=require

# .env.local
DATABASE_URL="postgresql://neondb_owner:npg_5FsznYKW7cDq@ep-cool-lake-a1gqcrve-pooler.ap-southeast-1.aws.neon.tech/neondb_uptimiseit?sslmode=require"

AWS_REGION=ap-south-1
AWS_BUCKET=uptimiseit-web
BASE_ACCESS_KEY=AKIAYGHFA43RJ7ODBJKA
BASE_SECRET_KEY=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
ROLE_ARN=arn:aws:iam::563121022690:role/S3AccessRole-uptimiseit-web
